{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>Download now</h1>
    <p>Written in go and gave to open-source community.</p>
  </div>
</div>

<div class="container">
	<i class="glyphicon glyphicon-cloud-download"></i> <a href="https://github.com/claudyus/file-bucket/archive/master.zip">Download source code</a>
	<h2>Download debian package</h2>
	<table class="table">
		<thead>
			<tr>
				<th>File</th>
				<th>MD5SUM</th>
			</tr>
		</thead>
		<tbody id="debian">
      {% for file in released_files%}
        <tr><td><a href="{{ file.file }}">{{ file.file }}</a></td><td>{{ file.md5 }}</td></tr>
      {% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
