{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
  <div class="container">
    <h1>File Bucket</h1>
    <p>No-auth backup system over HTTP!</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">

    <div class="col-lg-5">
      <h2>Full featured template engine</h2>
      <p>Cactus uses and extends Django's templating engine. If you've built sites using Django before, you'll feel right at home.</p>
    </div>

    <div class="col-lg-7">
      <h2>Pretty URLs</h2>
      <p>Cactus can prettify URLs, so you can turn <code>/about.html</code> into a fancier <code>/about/</code>.</p>
    </div>
  </div>
</div>
</div>
{% endblock %}
